
@{
    ViewData["Title"] = "WaitActiveRequest";
}

<h2>WaitActiveRequest</h2>
<div class="text-danger" >

    <h3 style="color:red"> Sorry ! </h3> <h4>Stil you have to wait for Admin approve. </h4><br />
    <h5>Checking whether yor detail are true</h5>
</div>

