@model ShoppingCart.Areas.Shop.ShopViewModels.MainShopViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
   
}
<h2> Home eke Shop</h2>
<div>
    @Html.Partial("_MainShopViewModel")
</div>