@model ShoppingCart.Areas.Shop.ShopViewModels.MainShopViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "_ShopLayout";
}

<div>
    @Html.Partial("_MainShopViewModel")
</div>
<div>
    <a asp-action="CheckMoreDetail" asp-controller="Shop" asp-route-id="@Model.signUpDetails.SignUpId">More details</a> |
    <a asp-action="Index">Back to List</a>
</div>
